@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

.numbers{

}

.numbers1{
    font-size: 1.5rem;
}

.speis{
    width: 160px;
}

.letters1{
    padding: 0px 19.5px;
    font-size: 1.8rem;
}

.abc{
    display: flex;
}
.letters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
}

.container{
    display: flex;
    height: auto;
    justify-content: center;
}


.post{
    height: 560px;
    background-color: blue;
    width: 3px;
    margin-right: 5rem;
    margin-left: 5rem;
}

.game-board{
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: repeat(10, 3.5rem);
    grid-template-columns: repeat(10, 3.5rem);
    justify-content: flex-start;

}

  .grid-item {
    border: 1px solid black;
}
