:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  #container {
    display: grid;
    width: 640px;
    grid-template-rows: repeat(var(--grid-rows), 4rem);
    grid-template-columns: repeat(var(--grid-cols), 4rem);
  }
#opponentContainer{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 4rem);
    grid-template-columns: repeat(var(--grid-cols), 4rem);
    justify-content: flex-end;
    width: 640px;
}
  .grid-item {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
  }
